{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-eval": 2,
    "no-console": 2,
    "strict": [2, "global"],
    "guard-for-in": 2,
    "wrap-iife": 2,
    "new-cap": 2,
    "no-caller": 2,
    "curly": 2,
    "eqeqeq": 2,
    "no-bitwise": 2,
    "no-empty": 2,
    "no-use-before-define": 2,
    "no-new": 2,
    "max-depth": [2, 3],
    "no-undef": 2,
    "no-unused-vars": 2,
    "max-params": [2, 4],
    "max-statements": [2, 20],
    "complexity": [2, 10],
    "quotes": [2, "single"],
    "no-mixed-requires": 0,
    "consistent-return": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 0,
    "semi": 2,

    "arrow-parens": 0,
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-this-before-super": 2,
    "no-var": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "prefer-spread": 0,
    "prefer-reflect": 0,
    "prefer-template": 2,
    "require-yield": 0,

    "array-bracket-spacing": [2, "never"],
    "brace-style": 2,
    "camelcase": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "computed-property-spacing": [2, "never"],
    "consistent-this": 0,
    "eol-last": 2,
    "func-names": 2,
    "indent": [2, 2, {"SwitchCase": 1}],
    "key-spacing": [2],
    "no-mixed-spaces-and-tabs": 2,
    "object-curly-spacing": [2, "always"],
    "one-var": [2, "never"],
    "operator-assignment": [2, "always"],
    "semi-spacing": [2, {"before": false, "after": true}],
    "space-after-keywords": 2,
    "space-before-keywords": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": [2, { "anonymous": "always", "named": "never" }],
    "space-in-parens": [2, "never"],
    "space-infix-ops": 2,
    "space-return-throw-case": 2,
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "spaced-comment": [2, "always"],

    "arrow-spacing": [2, { "before": true, "after": true }],
    "generator-star-spacing": [2, { "before": false, "after": true }]
  }
}
